@charset "utf-8";
#u_q_rank {
    font-family: "Darumadrop One", cursive;
}

.back-link {
    font-size: 1.5rem;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: black;
}
.user_rank {
    text-align: center;
    margin: 0;
    font-size: 2.5rem;
}
table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0 1rem;
}
tr {
    background-color: #ffffff;
    box-shadow: 0px 3px 3px #6e6e6e;
}
.rank_body {
    border: 1px solid black;
}
.medal {
    width: 9rem;
    padding: 0 3rem;
}
#rank_num {
    padding: 0 3rem;
}
.rank_text {
    padding: 0 3rem;
    font-size: 4rem;
}
/* #a{
    border: 1px solid black;
    width: 65rem;
} */

#u_q_rank .tab {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    width: 56rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

#u_q_rank .level-radio {
    display: none;
}

#u_q_rank .menu {
    width: 30%;
    height: 3rem;
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

#u_q_rank .menu:has(.level-radio:checked) {
    background-color: #e96026;
}

#u_q_rank .menu:has(.level-radio:checked) .level-label {
    color: #ffffff;
}

#u_q_rank .level-label {
    color: #e96026;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-size: 30px;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
